.sidebar {
  border-right: 1px solid var(--twitter-color);
  flex: 0.25;
  min-width: 250px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar_tweet {
  background-color: var(--twitter-color) !important;
  border: none;
  color: white !important;
  font-weight: 900 !important;
  font-size: 18px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.sidebar_twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  flex: .4;
  margin-left: 20px;
}

